@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="#hero">!ArbitraryProj</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#hero">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact Us</a></li> 
            </ul>
        </nav>
    </div>
</header>
<!--This is a structure that can be used for dropdown menus-->
@*<li class="menu-has-children">
        <a href="">Drop Down</a>
        <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="menu-has-children">
                <a href="#">Drop Down 2</a>
                <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
            </li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
            <li><a href="#">Drop Down 5</a></li>
        </ul>
    </li>*@